.git
.github
.venv
venv
__pycache__
*.pyc
*.egg-info

data/bronze
data/silver
data/gold/gridpulse.duckdb
data/gold/*.wal

dbt
orchestration
tests
scripts
docs
mlruns
.pytest_cache
.ruff_cache
htmlcov
.coverage

.env
.env.local
