data/bronze/
data/silver/

data/gold/gridpulse.duckdb
data/gold/*.wal
data/gold/*.tmp
!data/gold/gridpulse_app.duckdb
!data/gold/.gitkeep

.hf/

.env
.env.local
*.pem

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
.python-version

.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
htmlcov/
.coverage

dbt/gridpulse/target/
dbt/gridpulse/dbt_packages/
dbt/gridpulse/logs/
logs/

.dagster_home/
orchestration/dagster_app/tmp*/
storage/

mlruns/
mlartifacts/

airflow.db
airflow-webserver.pid
standalone_admin_password.txt

.DS_Store
Thumbs.db
.vscode/
.idea/
